.box {
  background-color: rgb(100, 170, 231);
  height: 190px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  font-size: 7rem;
}
.box:hover {
  cursor: pointer;
  background-color: rgb(229, 255, 0);
}
.box:active {
  background-color: rgb(47, 0, 255);
  color: white;
}
.played {
  background-color: rgb(98, 0, 255);
  height: 190px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  font-size: 7rem;
}
